name: Purge jsDelivr Cache

on:
  push:
    branches:
      - main
    paths:
      - 'configs/**'

jobs:
  purge:
    runs-on: ubuntu-latest
    steps:
      - name: Purge Caches
        run: |
          curl -i https://purge.jsdelivr.net/gh/SahajDigitalSync/AppConfigs/configs/connect_3d.json
          curl -i https://purge.jsdelivr.net/gh/SahajDigitalSync/AppConfigs/configs/doctor_docs.json
